{% extends "/layouts/base.html.twig" %}
{% block title 'See all our properties'%}

{% block body %}
   
    <div class="">
        <h1> {% trans %} See all our properties {% endtrans %}</h1>
        
    </div>
{% endblock %}