{% extends "/layouts/base.html.twig" %}
{% block title 'Create a property ' %}

{% block body %}
    <div class="container mt-4">
		<h1 class="text-center">
			{% trans %}
			Create a property 
			{% endtrans %}
		</h1>
        
        {{ include ("back_office/property/_form.html.twig", {form:propertyForm, button: 'Create'}) }}
	</div>
{% endblock %}
