<footer class="text-center mt-5 bg-dark">
   <p class="text-muted">
    <small>
        &copy; {{'now'|date('Y')}}  &middot;
        Built with <span class="text-danger">&hearts;</span> 
        <a href="https://www.linkedin.com/in/jean-edouard-owona-fouda-49a0a9136"> {% trans %}by{% endtrans %}  Eddy {% trans %}the{% endtrans %} 237</a>
    </small>
  </p>
</footer>
